@import url('https://fonts.googleapis.com/css?family=Almendra|Lemon|Amatic+SC|Orbitron|Catamaran|Source+Code+Pro');

body{
   background-image: url("https://fsb.zobj.net/crop.php?r=zNYPpC6P5yYSQXD-eRfdKkr-5GavVqrYccZ-M8ZrcowBGgKHoJKE69UWGL-GcJVAuoXP8UL0aAfuZUg5IZMrusw0GSRHdFVZHPoT4OjRoXkX_5_fKvK3dF0RtUmFf0Dpxx8ebYeXOPqCiVCd2D_et3_4JMxwfieiT9wL8A");
   
}

h1 {
   font-family: 'Orbitron', sans-serif !important;
   font-size: 300%;
}

.home-titulo{
   color: gold;
   font-size: 300%;
   text-align: center;
}

#home-titulo-principal{
   z-index: 1000;
}

#msg-mail,#msg-name,#msg-password,#msg-password2,#msg-dni {
   color: red;
   font-size: 80%;
   display: block;
}
#btn-enviar,#btn-enviar2{
   text-align: center;
   width: 50%;
   background-color: gold;
   border-radius: 5px;
   color: black;
   font-size: 120%;
   font-weight: bold;
   cursor: pointer;
   display: inline-block;
}



#home-formulario,#home-formulario2{
   width: 30%;
   /*background-color: whitesmoke;*/
   color: black;
   padding: 1%;
   margin: 5%;
   text-align: center;
   /*display: inline-block;*/
   background-image: url("../img/papel.png");
   background-size: 100% auto;
   padding-top: 8%;
   padding-left: 5%;
   position: absolute;
   left: 30%;
   top: 10%;
}

#home-formulario p,#home-formulario2 p {
   text-align: left;
   padding-left: 5%;
   font-family: 'Almendra', sans-serif;
   margin-bottom: 0px;
}

#home-formulario input,#home-formulario2 input {
   width: 80%;
   border-radius: 5px;
   margin-bottom: 1%;
}

.home-1{
   position: fixed;
   width: 100%;
   height: 100%;
   background-image: url("../img/cPlomo.png");
   top: 0px;
   left: 0px;
   display: none;
}


.img-centro{
   text-align: center;  
}

.img-centro img {
   width: 100%;
   max-width: 100%;

}

.sombra{
   filter: blur(6px);
}

.signup,.login{
   display: none;
   background-repeat: no-repeat;
}

.signup{
   background-size: 100% 100% !important;
   
}

.b-barra{
   text-align: right;
}

.cerrar{
   top: 50px;
   position: absolute;
   font-size: 200%;
   left: 90%;
   color: grey;
   cursor: pointer;
}

.b-signup, .b-login{
   display: inline-block;
   padding: 1%;
   color: white;
   background-color: black;
   border-radius: 10px 10px 0px 0px;
}

.b-signup:hover, .b-login:hover{
   color: black;
   background-color: white;
   cursor: pointer;
}

.b-login{
   margin-left: 1%;
}
.b-signup{
   margin-right: 1%;
}

.redes{
   font-size: 200%;
   text-align: center;
   color: #0c5058;
   padding-bottom: 1%;
}

.redes i {
   cursor: pointer;
}

.login div p, .signup div p {
   text-align: center !important;
   padding: 1% !important;
   margin-bottom: 3% !important;
   /* margin-top: -2%; */
   font-size: 150% !important;
   font-weight: bold !important;
   font-family: 'Catamaran', sans-serif !important;
   color: #c55f84 !important;
   
}

.banners{
   text-align: center;
   margin-top: -25%;
}

.banner{
   width: 20%;
   margin: 5%;
   margin-bottom: 0%;
   height: 300px;
   display: inline-block;
   /*background-image:  url("../img/cPlomo.png");*/
   background-color: #E7E099;
   
   transform: rotate(-5deg);
   -webkit-transform: rotate(-5deg);
   -moz-transform: rotate(-5deg);
   -o-transform: rotate(-5deg);
}

.b-titulo{
   text-align: center;
   font-size: 200%;
}

.b-contenido{
   text-align: justify;
   font-size: 130%;
   padding: 5%;
   font-family: 'Amatic SC', cursive;
   font-weight: bold;
   
}

.b-icono{
   text-align: center;
   font-size: 500%;
}

footer {
   width: 100%;
   background-color: black;
   color: white;
   margin: 0%;
   padding: 1%;
   font-size: 120%;
   margin-top: 5%;
   font-family: "Source Code Pro", monospace;
   font-size: 130%;
}

footer div p {
   padding-left: 2%;
}