@import url('https://fonts.googleapis.com/css?family=Almendra|Lemon|Amatic+SC|Orbitron|Catamaran|Source+Code+Pro');

body{
   background-color: #2d6356 !important;
   background-image: url("https://fsb.zobj.net/crop.php?r=zNYPpC6P5yYSQXD-eRfdKkr-5GavVqrYccZ-M8ZrcowBGgKHoJKE69UWGL-GcJVAuoXP8UL0aAfuZUg5IZMrusw0GSRHdFVZHPoT4OjRoXkX_5_fKvK3dF0RtUmFf0Dpxx8ebYeXOPqCiVCd2D_et3_4JMxwfieiT9wL8A");
   
}

.left {
   width: 16%;
   margin: 0%;
   height: 100%;
   position: absolute;
   left: 0%;
   background-image: url("https://fsb.zobj.net/crop.php?r=zNYPpC6P5yYSQXD-eRfdKkr-5GavVqrYccZ-M8ZrcowBGgKHoJKE69UWGL-GcJVAuoXP8UL0aAfuZUg5IZMrusw0GSRHdFVZHPoT4OjRoXkX_5_fKvK3dF0RtUmFf0Dpxx8ebYeXOPqCiVCd2D_et3_4JMxwfieiT9wL8A");
   
}

.right {
   width: 83%;
   margin: 0%;
   height: 100%;
   position: absolute;
   left: 16%;
   overflow: auto;
   background-color: white;
}

.menu {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   margin-right: 0%;
   padding-right: 0%;
   width: 100%;
}

.menu ul {
   color: white;
   font-weight: bold;
   list-style: none;
   margin-left: 5%;
   margin-right: 0%;
   padding-right: 0%;
}

.menu ul li{
   margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 1%;
    background-color: #438172;
    padding-left: 2%;
    margin-right: 0%;
   padding-right: 0%;
}

li:hover {
   background-color: white !important;
   margin-right: -5% !important;
   border-radius: 0% 20% 20% 0%;
   /*text-align: right;*/
   padding-right: 5% !important;
   color: #2d6356;
   cursor: pointer;
}

.xdebug-var-dump{
   position: absolute;
   bottom: 0px;
   right: 0px;
}

.tabla-datos{
   margin: 5%;
   padding: 2%;
   /*background-image: url("../img/user.png");*/
   background-position: bottom right;
   background-repeat: no-repeat;
}

.tabla-datos form p, .tabla-datos p{
   color: #2d6356;
   font-size: 150%;
   margin-bottom: 3%;
   font-weight: bold;
}

.tabla-datos form div{
   width: 10%;
   display: inline-block;
}

.tabla-datos form input{
   width: 80%;
   border-radius: 5px;
   /*margin-bottom: 2%;*/
}

.noti-izq{
   width: 30%;
}

.noti-der{
   width: 60%;
}

#boton-datos{
   text-align: center;
   width: 50%;
   background-color: gold;
   border-radius: 5px;
   color: black;
   font-size: 120%;
   font-weight: bold;
   cursor: pointer;
   display: inline-block;
   margin-left: 25%;
}

.tabla-datos-error{
       margin-bottom: 0px !important;
       color: red !important;
       font-size: 80% !important;
}

.nulo{
   background-color: lightgray;
   cursor: not-allowed;
}

/*notas*/
.tabla-notas{
   
}

/*horarios*/
.tabla-horarios{
   
}

.dia{
   width: 100px;
}

/*pagos*/
.tabla-pagos{
   
}

/*deudas*/
.tabla-deudas{
   
}

.tabla-deudas-deuda{
   padding: 2%;
   margin: 3%;
   background-color: #e6f3dd;
   border-radius: 5px;
   width: 50%;
   /*margin-left: 15%;*/
   
}

.tabla-deudas-deuda div{
   /*color: white;*/
   width: 49%;
   display: inline-block;
}

.concepto{
   
}

.fecha{
   text-align: right;
   margin-bottom: 5%;
}

.monto{
   width: 100% !important;
   text-align: center;
}

.monto i{
   color: gold;
}

.boton-pago{
   text-align: center;
   width: 50%;
   background-color: gold;
   border-radius: 5px;
   color: black;
   font-size: 120%;
   font-weight: bold;
   cursor: pointer;
   display: inline-block;
   margin-left: 25%;
   margin-top: 3%;
}

/*pagos*/

.payment{
   display: none;
   background-repeat: no-repeat;
   
}

.payment div p{
   text-align: center !important;
   padding: 1% !important;
   margin-bottom: 3% !important;
   /* margin-top: -2%; */
   font-size: 150% !important;
   font-weight: bold !important;
   font-family: 'Catamaran', sans-serif !important;
   color: #c55f84 !important;
   
}

.home-1{
   position: fixed;
   width: 100%;
   height: 100%;
   background-image: url("../img/cPlomo.png");
   top: 0px;
   left: 0px;
   display: none;
}

.cerrar{
   top: 50px;
   position: absolute;
   font-size: 200%;
   left: 90%;
   color: grey;
   cursor: pointer;
}


#btn-enviar-pago{
   text-align: center;
   width: 50%;
   background-color: gold;
   border-radius: 5px;
   color: black;
   font-size: 120%;
   font-weight: bold;
   cursor: pointer;
   display: inline-block;
}



#payment{
   width: 30%;
   /*background-color: whitesmoke;*/
   color: black;
   padding: 1%;
   margin: 5%;
   text-align: center;
   /*display: inline-block;*/
   background-image: url("../img/papel.png");
   background-size: 100% auto;
   padding-top: 8%;
   padding-left: 5%;
   position: fixed;
   left: 30%;
   top: 10%;
}

#payment p {
   text-align: left;
   padding-left: 5%;
   font-family: 'Almendra', sans-serif;
   margin-bottom: 0px;
}

#payment input {
   width: 80%;
   border-radius: 5px;
   margin-bottom: 1%;
}

#payment form{
   padding-right: 5%;
}

.pay-der{
   width: 80%;
}

.pay-izq{
   width: 15%;
}


/*Noticias*/

.tabla-noticias{
   
}

.noticias{
   
}

.noticias table{
   width: 80%;
}

.noticias-img{
   margin: 3%;
   max-width: 90%;
   
}

.noticias-titulo{
   padding-left: 5%;
   font-size: 150% !important;
   
}

.noticias-contenido{
   padding-left: 10%;
   font-size: 100% !important;
   text-align: justify;
   font-weight: 100 !important;
}

.xdebug-var-dump:hover {
   opacity: 0;
}


#td-nombre,#td-telefono,#td-direccion,#msg-ncard {
   color: red;
   font-size: 80%;
   display: block;
}

.fecha-s, .asunto-s{
   width: 100%;
   
}

.texto-s{
   width: 100%;
   height: 250px;
}

#btn-enviar3{
   text-align: center;
   width: 50%;
   background-color: gold;
   border-radius: 5px;
   color: black;
   font-size: 120%;
   font-weight: bold;
   cursor: pointer;
   display: inline-block;
   margin-left: 25%;
}

#asunto-error,#mensaje-error {
   color: red;
   font-size: 80%;
   font-weight: normal;
}

